<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools">
  <dist:module dist:instant="false" dist:title="@string/title_proextras">
    <dist:delivery><dist:on-demand/></dist:delivery>
    <dist:fusing dist:include="true"/>
  </dist:module>
  <application>
    <provider
      android:name="com.google.mlkit.common.internal.MlKitInitProvider"
      android:authorities="${applicationId}.mlkitinitprovider"
      tools:node="remove"/>
    <!-- One ML Kit registrar list only, in the base app. A second, shorter list declared by this split
         replaced the base list when Play installed Pro, so ML Kit lost its common parts
         (MissingDependencyException: ExecutorSelector / ModelFileHelper). -->
    <service
      android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService"
      tools:node="remove"/>
    <activity android:name="com.nenotv.player.proextras.ProSourcesActivity" android:exported="false"/>
    <activity android:name="com.nenotv.player.proextras.ProNetworkActivity" android:exported="false"/>
    <activity
      android:name="com.nenotv.player.proextras.ProPlayerActivity"
      android:exported="false"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:supportsPictureInPicture="true"/>
  </application>
</manifest>
